<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:usesCleartextTraffic="true"
        android:label="MPV HDR/DV Test"
        android:theme="@style/AppTheme"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity android:launchMode="singleTop"
            android:name=".MainActivity"
            android:screenOrientation="user"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExoActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true" />
    </application>
</manifest>
